@model EduIncluziva.Models.User
@{
    ViewBag.Title = "ContulMeu";

    EduIncluziva.Models.Student student = null;
    EduIncluziva.Models.Teacher teacher = null;
}
<div>
    <fieldset>
        @if (Model.Role.Equals("Admin"))
        {<a href="ContulMeu.cshtml">ContulMeu.cshtml</a>
            Html.RenderAction("AdminPage", "Admin");
        }
        else
        {
            <legend>Informatii despre contul meu</legend>
            <table border="0">
                <tr>
                    <td>
                        @if (Model.Role.Equals("Elev"))
                        {
                            //adica pt elev
                            student = (EduIncluziva.Models.Student)Model;
                            @*<div class="editor-label">
                                @Html.LabelFor(m => student.Nume) : @student.Nume
                            </div>
                            <div class="editor-label">
                                @Html.LabelFor(m => student.Prenume) : @student.Prenume
                            </div>
                            <div class="editor-label">
                                @Html.LabelFor(m => student.Mail) : @student.Mail
                            </div>*@
                            Html.RenderAction("PaginaElevului","Elevi");
                        }
                        @if (Model.Role.Equals("Profesor"))
                        {
                            Html.RenderAction("PaginaProfesorului","Profesori", Model.Mail);
                        }
                    </td>
                </tr>
            </table>
        }
    </fieldset>
</div>
