@model EduIncluziva.Models.InregistrareProfesorModel
@{
    ViewBag.Title = "Register";
    var resourcesRepository = new EduIncluziva.Metrics.ResourcesRepository();
    var listaLicee = resourcesRepository.GetAllHighSchools();
    var listaLiceeNume = from nume in listaLicee
                         select nume.Nume;
}
<link rel="stylesheet" href="../../Content/reveal.css">
<script src="../../Scripts/jquery-1.4.4.min.js" type="text/javascript"></script>
<script src="../../Scripts/jquery.reveal.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#myButton').click(function (e) {
            if (document.getElementById('Profesori').checked) {
                e.preventDefault();
                $('#myModalTeachers').reveal();
            } else if (document.getElementById('Elevi').checked) {
                e.preventDefault();
                $('#myModalStudents').reveal();
            }
        });
    });
</script>
<h2>Register</h2>
<table border="0">
    <tr>
        <td>
            <img src="../../Pictures/altele/t.jpg" alt="Teacher and Student" height="400" width="300" />
        </td>
        <td>Alegeti categoria la care apartineti :
            <br />
            <br />
            <input id="Elevi" name="categorie" type="radio" />Elevi
            <br />
            <input id="Profesori" name="categorie" type="radio" />Profesori
            <br />
            <br />
            <br />
            &nbsp&nbsp&nbsp<input id="myButton" type="submit" value="Select" />
        </td>
    </tr>
</table>
@using (Html.BeginForm("InregistrareProfesori", "Cont"))
{    
    <div id="myModalTeachers" class="reveal-modal">
        <h1>Register</h1>
        <br />
        <table border="0">
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(m => m.Nume)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.Nume)
                        @Html.ValidationMessageFor(m => m.Nume)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(m => m.Prenume)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.Prenume)
                        @Html.ValidationMessageFor(m => m.Prenume)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(m => m.Mail)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.Mail)
                        @Html.ValidationMessageFor(m => m.Mail)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(m => m.ScoalaDeProveninenta)
                    </div>
                    <div class="editor-field" style="width: 172px;">
                        @Html.DropDownListFor(m => m.ScoalaDeProveninenta, new SelectList(listaLiceeNume))
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(m => m.Descriere)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.Descriere)
                        @Html.ValidationMessageFor(m => m.Descriere)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(m => m.Parola)
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(m => m.Parola)
                        @Html.ValidationMessageFor(m => m.Parola)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(m => m.ConfirmareParola)
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(m => m.ConfirmareParola)
                        @Html.ValidationMessageFor(m => m.ConfirmareParola)
                    </div>
                    <p>
                        <input type="submit" value="Inregistrare" />
                    </p>
                </td>
                <td>
                    <img src="../../Pictures/altele/teacher.png" alt="Students" height="360" width="290" />
                </td>
            </tr>
        </table>
        <a class="close-reveal-modal">&#215;</a>
    </div>
}
<div id="myModalStudents" class="reveal-modal">
    @Html.Partial("RegisterElevi")
    <a class="close-reveal-modal">&#215;</a>
</div>
