@{
    ViewBag.Title = "PaginaProfesorului";
    Layout = null;
}
@model EduIncluziva.Models.User
@using EduIncluziva.Models
<h2>Pagina Profesorului</h2>
<table border="0">
    <tr>
        <td>
            <center>
                <table border="0">
                    <tr>
                        <td>
                            <center>
                                <p>Alegeti o poza</p>
                                @{
                                    var teacher = Model as Teacher;
                                    if (!teacher.ImageUrl.Equals(""))
                                    {
                                        <img src="@Url.Content(teacher.ImageUrl)" alt="Fara poza" height="80" width="80" align="middle"/>
                                    }
                                }                                
                                @using (Html.BeginForm("AdaugaPoza", "Profesori", new { mail = Model.Mail }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <input name="file" type="file" />
                                    <br/>
                                    <br/>
                                    <p>
                                        Click pe butonul de mai jos pentru a incarca poza
                                    </p>
                                    <p>
                                        Va rugam sa incarcati doar poze in format .jpg sau .jpeg!
                                    </p>
                                    <input id="Submit1" type="submit" value="Incarcati" />
                                }
                            </center>
                        </td>
                    </tr>
                    @{
                        var teach = Model as Teacher;
                    
                    <tr>
                        <td>
                            Nume :
                           @Html.TextBoxFor(m => teach.Nume)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Prenume :
                            @Html.TextBoxFor(m => teach.Prenume)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Bio :
                            <br />
                            @Html.TextAreaFor(m => teach.Description)
                        </td>
                    </tr>
                    }
                    <tr>
                        <td>
                            Materia 1 :
                            @Html.TextBoxFor(m => teach.Materii[0])
                        </td>
                        <td>
                            <center>
                                @using (Html.BeginForm("AdaugaLectii", "Profesori", FormMethod.Post))
                                {
                                    <input type="submit" value="Adauga Lectii" name="materie1" />
                                }
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Materia 2 :
                            @Html.TextBoxFor(m => teach.Materii[1])
                        </td>
                        <td>
                            <center>
                                @using (Html.BeginForm("AdaugaLectii", "Profesori", FormMethod.Post))
                                {
                                    <input type="submit" value="Adauga Lectii" name="materie2" />
                                }
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Materia 3:
                           @Html.TextBoxFor(m => teach.Materii[2])
                        </td>
                        <td>
                            <center>
                                @using (Html.BeginForm("AdaugaLectii", "Profesori", FormMethod.Post))
                                {
                                    <input type="submit" value="Adauga Lectii" name="materie3" />
                                }
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <center>
                                <input id="Submit1" type="submit" value="Update Informatii" />
                            </center>
                        </td>
                    </tr>
                </table>
            </center>
        </td>
        <td>
            <img alt="Profesori" src="../../Pictures/altele/a1.png" width="300" height="400" />
        </td>
    </tr>
</table>
